<ngx-ui-loader></ngx-ui-loader>



<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="over" opened="false">
    <app-sidenav></app-sidenav>
  </mat-drawer>


  <mat-toolbar color="primary" style="position: fixed;z-index: 99999;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>AMT-MRP</span>
  </mat-toolbar>

  <mat-toolbar></mat-toolbar>

  <div class="example-sidenav-content" >
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
