<mat-card style="margin: 14px;">

  <div class="col-lg-12" style="opacity: 0%;height: 1px;">
    <span style="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum enim non ratione minima repudiandae!
      Nesciunt facilis explicabo, qui sunt iste possimus quia libero dolore odit cumque ducimus quis vero earum! Lorem
      ipsum dolor sit, amet consectetur adipisicing elit. Nisi hic atque corrupti ducimus maxime magnam fugiat quidem,
      numquam inventore quis dolores, quaerat autem odit minima nam fugit recusandae similique ab?</span>
  </div>

  <div class="row">
    <div class="col-lg-2">


      <div class="row calendar">
        <div class="col">
          <mat-card-actions>
            <button (click)="picker.open()" style="background-color: inherit;border: inherit;"><img
                src="assets/calendar.png" alt="" style="width: 40px;"></button>
            <mat-form-field appearance="fill" style="opacity: 0;position: absolute">
              <mat-label>Enter a date range</mat-label>
              <mat-form-field appearance="fill" style="opacity: 0%;">
                <mat-label>Choose a date</mat-label>
                <input matInput [value]="moment(dateSelect).format('MMMM YYYY')">
                <input matInput [matDatepicker]="picker" hidden>
                <!-- <input matInput [matDatepicker]="picker" (dateChange)="updateInput()" [(ngModel)]="dateSelect"> -->
                <mat-datepicker #picker startView="year"
                  (monthSelected)="setMonthAndYear($event,picker)"></mat-datepicker>
              </mat-form-field>
            </mat-form-field>
            <span>{{moment(dateSelect).format("MMM ' YYYY")}}</span>
          </mat-card-actions>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="row" *ngIf="this.dataCompare.length != 0">
        <div class="col" style="zoom :70%; overflow: auto" id="tableWrapper_2">
          <ag-grid-angular #myGrid style="width: 100% ;height: 45rem" class="ag-theme-quartz"
            [gridOptions]="gridOptions" [rowData]="rowData" [columnDefs]="columnDefs" [animateRows]="true"
            [enableCellTextSelection]="true" [ensureDomOrder]="true" [tooltipMouseTrack]="true" [tooltipShowDelay]="0"
            (filterChanged)="null" [rowHeight]="35"></ag-grid-angular>
        </div>


        <div class="col hide">
          <button class="btn" style="background-color: inherit; text-align: left;font-size: 14px;" (click)="hidden()"><img src="assets/unhide.png" alt="" style="width: 25px;"></button>
        </div>

      </div>

      <div class="row mt-5" *ngIf="this.dataCompare.length != 0">
        <div class="col" style="zoom :70%; overflow: auto" id="tableWrapper_2">
          <ag-grid-angular #myGrid style="width: 100% ;height: 45rem" class="ag-theme-quartz"
            [gridOptions]="gridOptions" [rowData]="rowData" [columnDefs]="columnDefs_ad" [animateRows]="true"
            [enableCellTextSelection]="true" [ensureDomOrder]="true" [tooltipMouseTrack]="true" [tooltipShowDelay]="0"
            (filterChanged)="null" [rowHeight]="35"></ag-grid-angular>
        </div>
      </div>
    </div>

  </div>




</mat-card>
